@font-face {
  font-family: 'Lemon/Milk Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon/Milk Regular'), url('https://okkhary.com/fonts/LemonMilk.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Lemon/Milk Regular italic';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon/Milk Regular italic'), url('https://okkhary.com/fonts/LemonMilkitalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Lemon/Milk light italic';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon/Milk light italic'), url('https://okkhary.com/fonts/LemonMilklightitalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Lemon/Milk Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon/Milk Bold'), url('https://okkhary.com/fonts/LemonMilkbold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Lemon/Milk Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon/Milk Bold'), url('https://okkhary.com/fonts/LemonMilkbolditalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Lemon/Milk light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon/Milk light Regular'), url('https://okkhary.com/fonts/LemonMilklight.woff') format('woff');
  }

body {
  font-family:'Lemon/Milk Regular';
 font-weight:normal;
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Styles for the stream title */
.title-wrapper {
  margin: 20px 0px 2px;
  display: inline-block;
}

.left, .right {
  position: relative;
  height: 70px;
  width: 350px;
  background-color: #7b0623bd;
  float: left;
  font-size: 55px;
}

.left span, .right span {
  display: block;
  padding: 6px 6px 6px 15px;
}

.left:after {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 70px solid #7b0623bd;
  border-bottom: 50px solid transparent;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  top: 0;
  right: -50px;
}

.right {
  margin-left: 60px;
  padding-right: 40px;
  width: 170px;
  color: #7b0624;
  background-color: #fff;
}

.right:before {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 70px solid #fff;
  border-left: 50px solid transparent;
  border-right: 0px solid #fff;
  position: absolute;
  top: -50px;
  left: -50px;
}

.menu{
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}

.menu.closed{
  transform: translate(-100%);
}

/* Styles for the task list */
.task-list-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2px 0 20px;
  width: 400px;
  
}

.task-list {
  margin: 5px 0;
  padding: 0px 0;
  list-style-type: none;
}

.task-list li {
  margin: 0;
  padding: 6px 20px;
  letter-spacing:1px;
  border-bottom:solid 3px;
  border-bottom-color: black;
}

.task-list li.active {
  color: #fbff00 !important;
  background-color: #7b0623bd !important;
  text-decoration: none !important;
}

.task-list li.visited {
  text-decoration: line-through;
  color: #bbbbbb;
}

.task-list li.hidden {
  display: none;
}
